@charset "utf-8";


.burger_wrap{display: none;}
/* 버거 아이콘 클릭 시 메뉴 나타남 */
@media screen and (max-width: 1024px){
    .burger_wrap{
        display: block;
        margin: 0 auto;
        position: fixed;
        top: 0;
        left: 0;
        right: -10000px;
        /* 기본적으로 화면 밖에 위치 */
        width: 100%;
        height: 100%;
        background-color: #fff;
        color: #000;
        overflow-y: auto;
        transition: right 0.3s ease;
        z-index: 10000000000;
            /* 메뉴가 다른 요소보다 위에 표시되도록 설정 */
        
    }
    .burger_wrap.show {
        right: 0;
    }
    .burger_menu{
        width: 400px;
        height: 100%;
        /* border: 1px solid red; */
        position: relative;
    }
    .burger_menu>h1{
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .close-button {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        background: none;
        border: none;
        color: #000;
        cursor: pointer;
    }
    
    
    .burger_wrap ul{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 100px;
        /* border: 1px solid red; */
    
        width: 100%;
        height: 500px;
    }
    .burger_wrap ul li{
        width: 100%;
        height: 60px;
        line-height: 60px;
        /* border: 1px solid red; */
        white-space: nowrap;
        /* display: flex;
        justify-content: flex-end; */
    }
    .burger_wrap ul li a{
        display: flex;
        gap: 40px;
        padding-left: 20px;
    }
    .burger_wrap ul li div{
        width: 60px;   
        height: 60px;
        /* border: 1px solid red; */
        margin: 0;
    }
    
    .burger_wrap ul li>a>div>img{
        width: 100%;
        height: 100%;
    }
    .burger_wrap ul li span{
        margin: 0;
        font-size: 30px;
        font-weight: bold;
        display: block;
    }
    
    
    .burger_footer{
        width: 100%;
        height: 100px;
        display: flex;
        /* border: 1px solid red; */
        position: absolute; bottom: 0px;
    }
    .burger_footer span{
        margin: 70px 0 0 20px;
        width: 70px;
        height: 30px;
        cursor: pointer;
    }
    .burger_footer div{
        display: flex;
        position: absolute; bottom: 0; left: 320px;
        margin-right: 20px;
        /* border: 1px solid red; */
        
    }
}
